{{> head}}
{{> navbar}}

<div>

    <div class="col-8">
        <h1>
            Dragón Ball Super
        </h1>
        <p>
            la imagen mas hermosa del evento mas memorable del mundo de la animación japonesa.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/dragon-ball-super.jpg" class="img-thumbnail">
    </div>


</div>
{{> footer}}